<footer>
  <div class="container">
    <div class="left">
      <div class="logo"></div>
      <p>We deliver genre-defining mobile games based around quality, our culture, authenticity, evolution, and our global community.</p>
      <br>
      <div class="socials">
        <a href=""><i class='bx bxl-facebook'></i></a>
        <a href=""><i class='bx bxl-twitter'></i></a>
        <a href=""><i class='bx bxl-instagram'></i></a>
        <a href=""><i class='bx bxl-linkedin'></i></a>
        <a href=""><i class='bx bxl-youtube'></i></a>
        <a href=""><i class='bx bxl-discord'></i></a>
        <a href=""><i class='bx bxl-tiktok'></i></a>
      </div>
    </div>
    <div class="center">
      <span>Studio</span>
      <ul>
        <li><a href="">Games</a></li>
        <li><a href="">News</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Carrers</a></li>
        <li><a href="">SM25 Press Kit</a></li>
      </ul>
    </div>
    <div class="right">
      <span>Our Games</span>
      <ul>
        <li><a href="">Soccer Manager 2025</a></li>
        <li><a href="">Champions Elite Football</a></li>
        <li><a href="">Soccer Manager 2024</a></li>
        <li><a href="">Soccer Manager Worlds</a></li>
      </ul>
    </div>
</footer>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  AOS.init();
</script>