<nav class="navbar">
  <div class="site-title">
    <a href="/" data-aos="fade-down-right">
      <div class="logo"></div>
    </a>
    <ul>
      <li data-aos="fade-right"><a href="/">Home</a></li>
      <li data-aos="fade-right"><a href="/about">About</a></li>
      <li data-aos="fade-right"><a href="/games">Games</a></li>
      <li data-aos="fade-right"><a href="/news">News</a></li>
      <li data-aos="fade-right"><a href="/blogs/create">New Blog</a></li>
    </ul>
  </div>
</nav>