<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <div class="home">
      <div class="container-banner">
        <%- include("./partials/nav.ejs") %>

        <span>Invincibles Studio</span>
        <p>An independent games studio, specialising in exceptional mobile football games.</p>
        <a href="">Our Games →</a>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
